<nav class="navbar bg-body-tertiary navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">MonSite</a>
        <div class="navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {{ app.current_route == 'home' ? 'active' : '' }}" href="{{ path('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.current_route starts with 'recipe.' ? 'active' : '' }}" href="{{ path('recipe.index') }}">Recettes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.current_route starts with 'category.' ? 'active' : '' }}" href="{{ path('category.index') }}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.current_route starts with 'product.' ? 'active' : '' }}" href="{{ path('product.index') }}">Products</a>
                </li>
            </ul>
        </div>
    </div>
</nav>